[Unit]
Description=Proxy Check Service
After=network.target

[Service]
ExecStart=/pfad/zum/bash/proxy.sh
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=default.target
